@model DetailsSchoolViewModel

@{
    ViewBag.Title = $"{Model.Name}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h2>@Model.Name</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h5 class="text-muted">School Details</h5>
                    <hr />
                    <p><strong>Address:</strong> @Model.Address</p>
                    <p>
                        <strong>@Html.DisplayNameFor(m => m.WebsiteUrl):</strong>
                        <a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a>
                    </p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5 class="text-muted">Counts</h5>
                    <hr />
                    <p><strong>@Html.DisplayNameFor(m => m.ClassesCount):</strong> @Model.ClassesCount</p>
                    <p><strong>@Html.DisplayNameFor(m => m.TeachersCount):</strong> @Model.TeachersCount</p>
                    <p><strong>@Html.DisplayNameFor(m => m.StudentsCount):</strong> @Model.StudentsCount</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="School" asp-action="Index" class="btn btn-secondary">Back to List</a>
            @if (this.User.IsAdmin())
            {
                <a asp-controller="Class" asp-action="AddBySchool" asp-route-schoolId="@Model.Id" class="btn btn-dark">Add Class</a>
                <a asp-controller="School" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Teacher" asp-action="Index" asp-route-schoolId="@Model.Id" class="btn btn-primary">All Teachers</a>
                <a asp-controller="Class" asp-action="Index" asp-route-schoolId="@Model.Id" class="btn btn-info">All Classes</a>
            }
        </div>
    </div>
</div>