@model IEnumerable<IndexSchoolViewModel>

@{
    ViewData["Title"] = "Schools List";
}

<h2>Schools List</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Teachers</th>
                @if (this.User.IsAdmin())
                {
                    <th>Add SchoolMember</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in Model)
            {
                <tr>
                    <td>@HtmlEncodeHelper.EscapeHtmlSpecialCharacters(school.Name)</td>
                    <td><a href="@school.WebsiteUrl" target="_blank">@school.WebsiteUrl</a></td>
                    <td>@school.TeachersCount</td>
                    @if (this.User.IsAdmin())
                    {
                        <td>
                            <a asp-controller="Teacher" asp-action="Add" asp-route-schoolId="@school.Id" class="btn btn-info btn-sm">Teacher</a>
                            <a asp-controller="Student" asp-action="Add" asp-route-schoolId="@school.Id" class="btn btn-info btn-sm">Student</a>
                        </td>
                    }
                    <td>
                        <a asp-controller="School" asp-action="Details" asp-route-id="@school.Id" class="btn btn-primary btn-sm">Details</a>
                        @if (this.User.IsAdmin())
                        {
                            <a asp-controller="School" asp-action="Edit" asp-route-id="@school.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-controller="School" asp-action="Delete" asp-route-id="@school.Id" class="btn btn-danger btn-sm">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
